body {
  font-family: Arial, sans-serif;
  background: #f4f7f6;
  text-align: center;
}

h1 {
  color: #2c7a7b;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.card {
  background: white;
  padding: 20px;
  width: 220px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
#emergencyBtn {
  margin-top: 40px;
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #e53e3e;
  color: white;
  transition: 0.3s;
}

#emergencyBtn:hover {
  background-color: #c53030;
}
#resetBtn {
  margin-left: 15px;
  background-color: #38c74d;
}

#resetBtn:hover {
  background-color: #61c56c;
}

.charts {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.chart-box {
  width: 420px;
  height: 250px;
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

